.hotel-star-empty > svg > g > path,
.hotel-star-empty > svg > g > polygon{
  fill: #bbb !important;
}
.hotel-star-filled > svg > g > path:last-child,
.hotel-star-filled > svg > g > polygon{
  fill: #271818 !important;
}
.hotel-container{
  min-height: 200px;

  @media screen and (max-width: 655px) {
    padding-bottom: 25px;
  }
  .more-info{
    overflow: hidden;
    height: 0;
    transition: all .5s;
  }
  .more-info.showed{
    height: auto;
    padding: 20px 10px;
  }
}
.hotel-image-wrp, .hotel-info{
  display: inline-block;
}
.hotel-image-wrp{
  background-color: #eee;
  width: 250px;
  height: 200px;
  position: relative;

  @media screen and (max-width: 655px) {
    width: 100%;
  }
  .hotel-image{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  margin: auto;
  }
  .hidden{
    visibility: hidden;
  }
}
.hotel-info{
  width: calc(100% - 250px);
  height: 100%;
  vertical-align: top;

  @media screen and (max-width: 655px) {
    width: 100%;
  }
}
.hotel-info-left{
  display: inline-block;
  height: 100%;
  width: 75%;
  padding: 10px 0 0 10px;
  box-sizing: border-box;
  vertical-align: top;

  @media screen and (max-width: 760px) {
    width: 65%;
  }

  @media screen and (max-width: 380px) {
    width: 55%;
  }

  .hotel-info-title{
    font-size: 24px;
    width: 250px;
    margin-bottom: 15px;

    @media screen and (max-width: 420px) {
      font-size: 19px;
    }

  }
  .hotel-stars > div{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
.hotel-info-right{
  display: inline-block;
  width: 25%;
  box-sizing: border-box;
  padding: 25px 15px 10px;
  height: 100%;

  @media screen and (max-width: 760px) {
    width: 35%;
  }

  @media screen and (max-width: 655px) {
    padding-top: 10px;
  }

  @media screen and (max-width: 380px) {
    width: 45%;
  }

  .hotel-price{
    font-size: 24px;
    font-weight: 700;

    @media screen and (max-width: 655px) {
      text-align: center
    }
  }
  .hotel-details-btn{
    outline: none;
    background-color: #d25021;
    cursor: pointer;
    width: 100%;
    color: #fff;
    font-weight: 700;
    border: none;
    transform: translateY(80px);
    height: 40px;
    font-size: 16px;

    @media screen and (max-width: 655px) {
      transform: translateY(10px)
    }
  }
}
